body {
    font-family: Consolas;
    color: rgb(26, 205, 157);
    background-color: rgb(6, 51, 61);
}

a {
    text-decoration: none;
    color:rgb(26, 205, 157);
}

a:hover {
    color: rgb(23, 182, 139);
}

li {
    font-style: italic;
    color: rgb(18, 124, 95);
}